<template name="home">
  <section class="hero">
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <div class="hero-content text-center">
            <h1 class="text-center">Set, track, achieve!</h1>
            <p class="lead">Monitor and achieve your OKR goals with OKR Tracker</p>
            <a href="#" class="btn btn-fill btn-margin-right">Create team</a>
            <a href="#" class="btn btn-clear">Learn more</a>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>
