<template name="postSubmit">
  <form class="main">
    <div class="control-group">
        <label for="title">OKR Title</label>
        <div class="controls">
          <input name="title" type="text" value="" placeholder="OKR Title"/>
        </div>
    </div>

    <div class="control-group">
        <label for="description">Description</label>
        <div class="controls">
          <textarea name="description" type="text" value=""></textarea>
        </div>
    </div>

    <div class="control-group">
        <div class="controls">
          <input type="submit" value="Submit" class="btn btn-primary"/>
        </div>
    </div>
  </form>
</template>
