<template name="createTeam">
  <div class="container">
    <div class="col-md-4">
      <h1>Create a new team</h1>
      <form class="main">
        <div class="form-group">
            <label for="name">Company or team name</label>
            <div class="controls">
              <input type="text" class="form-control" name="name" value="" placeholder=""/>
            </div>
        </div>
        <div class="form-group">
            <input type="submit" class="form-control btn btn-primary" value="Submit"/>
        </div>
      </form>
    </div>
  </div>
</template>
