<template name="createTeam">
  <div class="container">
    <div class="col-md-12">
      <h1>Create a new team</h1>
      <form class="main">
        <div class="control-group">
            <label for="name">Company or team name</label>
            <div class="controls">
              <input name="name" type="text" value="" placeholder=""/>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
              <input type="submit" value="Submit" class="btn btn-primary"/>
            </div>
        </div>
      </form>
    </div>
  </div>
</template>
