<template name="login">
  <div class="container">
    <div class="col-md-4 col-md-offset-4">
      <button type="button" id="login-google" class="btn btn-primary btn-lg btn-block">Login with Google</button>
      <br>
      <button type="button" id="login-facebook" class="btn btn-primary btn-lg btn-block">Login with Facebook</button>
      <br>
      <div class="panel panel-default">
        <div class="panel-body">
          {{#if loginOrRegister }}
            <p>{{> Template.dynamic template=loginOrRegister}}</p>
          {{/if}}
        </div>
      </div>
    </div>
  </div>
</template>
