<template name="registerForm">
  <form id="register-form" style="display: none;">
    <div class="form-group">
      <label for="register-email" class="text-dark">Email address</label>
      <input type="email" class="form-control" id="register-email" name="email" placeholder="Email" required>
    </div>
    <div class="form-group">
      <label for="register-password" class="text-dark">Password</label>
      <input type="password" class="form-control" id="register-password" name="password" placeholder="Password" required>
    </div>
    <div class="form-group">
      <label for="register-password-confirm" class="text-dark">Password Confirm</label>
      <input type="password" class="form-control" id="register-password-confirm" name="password-confirm" placeholder="Password Confirm" required>
    </div>
    <button type="submit" class="btn btn-primary btn-lg btn-block">Register</button>
    <div class="form-group">
      <p class="help-block text-center" id="switch-to-login"><a href="#">Already have an account?</a></p>
    </div>
  </form>
</template>
