<template name="header">
  <header>
    <div class="container">
      <div class="col-md-12">
        <div class="header-content">
          <div class="header-nav">
            <nav>
              <ul class="primary-nav nav navbar-nav">
                <li><a href="{{pathFor 'home'}}">Home</a></li>
                <li><a href="{{pathFor 'dashboard'}}">Dashboard</a></li>
                <li><a href="{{pathFor 'teams'}}">Teams</a></li>
                {{#if currentUser}}
                  <li><a href="{{pathFor 'postSubmit'}}">New Post</a></li>
                {{/if}}
                <li><a href="{{pathFor 'createTeam'}}">Create New Team</a></li>
              </ul>
              <ul class="member-actions nav navbar-nav navbar-right">
                {{#if currentUser}}
                  <li class="profileImage"><img src="{{profileImageUrl}}" alt=""></li>
                {{/if}}
                <li>{{> login}}</li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </header>
</template>
